body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.one,
.footer {
    background-color: #1F2937;
}

.one {
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 100px;

}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
.header .links {
    display: flex;
    gap: 36px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex: 1;
    
}
.hero-image {
    max-width: 50%;
    flex: 1 1 auto;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 36px;
}
.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}
.hero-text {
    color: #e5e7ebc6;
    font-size: 18px;
    margin: 0px;
}
.hero-button {
    color: white;
    background-color: #3882F6;
    padding: 10px 36px;
    margin-top: 8px;
    border-radius: 8px;
    border: #3882F6 solid 1px;
    align-self: flex-start;
}

.two {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
}
.two-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 48px auto;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.illustration {
   width: 200px;
   height: 200px;
   object-fit: cover;
    flex: 1 1 auto;
    border: solid 4px #3882F6;
    border-radius: 10px;
}
.card-text {

    font-size: 18px;
    color: #b1b1b2;
    padding-top: 8px;
    text-align: center;
}
.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 100px 300px;
}
.quote {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1F2937;
    margin: 0px;
}

.writer {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    margin: 0;
}

.four {
    padding: 100px 200px;
}
    
.information {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 48px 100px;
    border-radius: 8px;
    margin: 0px;
    color: #e5e7ebc6;
}
.information-header {
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.information-left p {
    margin: 0px;

}
.information button {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 600;
    background-color:#3882F6;
    border: #e5e7eb solid 2px;
    border-radius: 10px;
    padding: 0px 40px;
}

.footer {
    color: #e5e7eb;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
}




